@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    color: #546ae1, #30d6bc, #4089E8, #30D6BC

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(49, 209, 191);
    background: linear-gradient(169deg, rgba(49, 209, 191, 1) 38%, rgba(64, 137, 232, 1) 71%);
    background-size: 600% 600%; /* Ajusta el tamaño del fondo */
    animation: gradientAnimation 10s infinite; /* Define la animación */
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%; /* Define la posición inicial del fondo */
    }
    50% {
        background-position: 100% 50%; /* Define la posición a la mitad del recorrido */
    }
    100% {
        background-position: 0% 50%; /* Define la posición final del fondo */
    }
}


header {
    display: block;
    height: auto;
    width: 100%;
    /* background-color: #212121;
    border-bottom: 1px solid rgb(79, 77, 77); */
}

.container-block-1 {
    position: relative;
    background: #f7f7f6;
    height: 94.5vh;
  }


.container-block-1 main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94.6vh;
}

.container-block-1 svg {
    position: absolute;
    top: 51.8%;
}

.sign {
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;

}

main .logo__interprice {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

main .logo__interprice img {
    width: 100px;
    height: auto;
}

.sign h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sign label {
    display: block;
    margin-bottom: 8px;
    color: rgb(91, 171, 171);
}

/* .sign input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid rgba(91, 171, 171, 0.486);
    outline: 0;
    border-radius: 4px;
} */

.sign button {
    margin-top: 20px;
    background-color: #30D6BC;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sign button:hover {
    background-color: rgba(91, 171, 171, 0.486);
}

#signUp {
    padding: 9px;
    margin: 5px;
    border-bottom: 1px solid #212121;
    background-color: #f7f7f6;
    color: #212121;
    transition: background-color .3s ease;
}

/* #signUp:hover {
    padding: 9px;
    background-color: transparent;
    border-left: 1px solid #f7f7f6;
    border-right: 1px solid #f7f7f6;
    color: #f7f7f6;
} */


.form__group {
    position: relative;
    padding: 25px 0 0;
    margin-top: 10px;
    width: 100%;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #eee;
    outline: 0;
    font-size: 1.3rem;
    color: #000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #eee;
  }
  
  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: #000;
      font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #30D6BC, #4089E8);
    border-image-slice: 1;
  }
  
  /* reset input */
  .form__field{
    &:required,&:invalid { box-shadow:none; }
  }