<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/nav.css">
    <title>Login - Check-list</title>
</head>

<body>
    <!-- <header>
        <div class="content">
          <div class="menuCon container">
            <img src="https://static.platzi.com/media/uploads/thumbnail_logo_platzi_ng_877f62a9f1.png" alt="Logo Demar" />
            <input type="checkbox" id="menu">
            <label for="menu" id="btn-menu">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            </label>
            <nav class="navMenu">
              <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Cursos</a></li>
                <li><a href="#">Contactanos</a></li>
                <li><a href="/sign-up" id="signUp">Crear Cuenta</a></li>
                <li><a href="/sign-in" id="singIn">Iniciar Sesion</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header> -->

    <main>
        <form class="sign" method="post" action="/sign-in">
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Iniciar Sesión</button>
        </form>
    </main>
</body>

<!-- <li><a href="#" id="signUp"></a>Crear Cuenta</li>
<li><a href="#" id="singIn"></a>Iniciar Sesion</li> -->

</html>