<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/login.css" />
  <link rel="stylesheet" href="css/nav.css">
  <title>Login - Check-list</title>
</head>

<body>
  <main>
    <% if (msg) { %>
      <p>
        <%= msg %>
      </p>
      <% } %>
      <div class="logo__interprice">
        <img src="/imgs/LOGO SAC & C-02.png" alt="">
      </div>
        <form class="sign" method="post" action="/sign-in">
          <!-- <h2>Inicio de sesion</h2> -->
          <!-- <label for="username" hidden>Usuario</label> -->
          <!-- <input type="text" id="username" name="username" placeholder="Usuario" required> -->
          <div class="form__group field">
            <input type="input" class="form__field" placeholder="Usuario" name="username" id='username'
                required />
            <label for="username" class="form__label">Usuario</label>
          </div>
          <div class="form__group field">
            <input type="password" class="form__field" placeholder="Contraseña" name="password" id='password'
                required />
            <label for="password" class="form__label">Contraseña</label>
          </div>

          <!-- <label for="password" hidden>Contraseña</label> -->
          <!-- <input type="password" id="password" name="password" placeholder="Contraseña" required> -->

          <button type="submit">Iniciar Sesión</button>
        </form>
  </main>
</body>

</html>